@import '_variables';

.submitBtn{

        height: 30px;
        width: 100px;
        background-color: $contactBlockColor;
        color: white;
        font-weight: bold;
        border: none;
        margin-top: 4px;
        float: right;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;

	&:hover{
    	color: $contactBlockColor;
    	background-color: white;
    }
}