/* ---------- COLOR VARIABLES ----------
************************************* */

$goldenAlike: #ffa502;
$whiteGolden: #f6e58d;
$facebookColor: #3b5998;
$linkedinColor: #0e76a8;
$logoColor: #ffc864;
$projectsBlockColor: #f5f5f5;
$contactBlockColor: #20374d;
$flat-concrete: #95a5a6;
$flat-wet-asphalt: #34495e;
$borderColor: #173e43;


/* ------------ TYPOGRAPHY ------------
************************************* */

$font-logo: 'Lobster Two', cursive;
$font-titles: 'Raleway', sans-serif;
$font-text: 'Gentium Book Basic', serif;
$font-big: 'Alfa Slab One', cursive;
$font-body: 'Open Sans', sans-serif;
$font-alternative: 'Merriweather', serif;